<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tytul %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <Font color= "black" Size="8"> <center> <span style="font-family:baskerville old face "> Froogle </span> </center> </Font>
		<nav>
            <a href="/">Home</a>
            <a href="/lista">Lista płazów </a>
            <a href="/zrodla">Źródła</a>
        </nav>
    </header>
    <main>
        <center>
        <h1> Cześć! </h1>
        <p>Znalazłeś aplikację, która służy do wyszukiwania informacji
			o płazach bezogonowych występujących jedynie w Polsce. 
			Miłej zabawy!</p>
			
			<div class="content">
				<h3>Kliknij żabkę żeby kontynuować! </h3>
			</div>
        </center>
        <a href="/filtry">
            <img src="/mikro.png" alt="Żabka" style="width:300px; height:auto;">
        </a>
    </main>
</body>
</html>