<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tytul %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1><span style="font-family: 'Baskerville Old Face'; font-size: 3rem; text-align: center;">Froogle</span></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/lista">Lista płazów</a>
            <a href="/zrodla">Źródła</a>
        </nav>
    </header>

    <main>
        <h2>Źródła</h2>
        <div>
            <ul>
                <li><a href="https://www.wigry.org.pl/plazy2/rzekot.htm" target="_blank">rzekotka drzewna</a></li>
                <li><a href="https://czlowiekiprzyroda.eu/plazy-polski-przewodnik-terenowy/grzebiuszka-ziemna-pelobates-fuscus" target="_blank">grzebiuszka ziemna</a></li>
                <li><a href="https://czlowiekiprzyroda.eu/plazy-polski-przewodnik-terenowy/zaba-jeziorkowa-pelophylax-lessonae" target="_blank">żaba jeziorkowa</a></li>
                <li><a href="https://czlowiekiprzyroda.eu/plazy-polski-przewodnik-terenowy" target="_blank">pozostałe</a></li>
            </ul>
        </div>
    </main>
</body>
</html>